@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        
    }
    
    body{
        font-family: "poppins";
        background-color: #ffff;
        position: relative;
        overflow-x: hidden;
    }
    /* Header Style */

    .header{
        /* background: #bb7c7c; */
        width: 100vw;
        
    
    }

    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 150px;
        height: 84px;
    }

    .nav-bar span{
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
    }
    .nav-bar .logo-text{
        font-style: italic;
        
    }

    .nav-bar ul{
        display: flex;
        align-items: center;
        gap: 50px;
        list-style-type: none;
    }

    .nav-bar ul a{

        text-decoration: none;
        color: black;
        font-size: 21px;
    }

    .nav-bar ul a:hover{
        color: #F9995D;
    }

    .nav-bar ul li a.active{
        color: #F9995D;
        
    }

    /* Hero Section Style */

    .hero{
       background: url('img/Hero.png');
       background-position: center;
       background-size: cover;
       max-width: 100%;
       height: 646px;
       position: relative;
    }

    .hero-content{
        max-width: 100%;
        height: 646px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background: #ad6363; */
    }

    .hero-content h1{
        font-size: 60px;
        font-weight: 600;
        margin-left: 5%;
    }

    .hero-content .hero-title{
        background-color: #3559C7;
        position: relative;
        top: 30.5%;
        right: 0;   
        width: 416px;
        height: 189px;
        
        
    }
    .hero-content .hero-title h3{
        font-size: 20px;
        text-align: center;
        margin: 15px;   
        color: #fff;
       

    }
    .hero-content .hero-title p{
        text-align: center;
        font-size: 25px;
        margin-top: 15px 0;
        color: #fff;
       

    }

    .hero-content .hero-title .hero-btn{
        width: 416px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #14171F;
        gap: 50%;
        margin-top: 34px;

    }
    
    /* Reputation Section Style */

    .reputation{
        /* background: #a56262; */
        max-width: 100%;
        height: 433px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }
    
    .repution h1{
        text-align: center;
        
    }
    .reputation .reputation-card{
        width: 292px;
        height: 197px;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 10px 1px #d6d6d6;
        padding: 20px;
        
    }
   .reputation .all-cards{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
            
   
    }
    .reputation .all-cards h3{
        margin-top: 10px;
    }
    .reputation p{
        color: #858EAD;
    }

    /* About Us Section */
    .about{
        position: relative;
        margin: 0 auto;
        width: 80%;
        margin-top: 80px;
      
    }
    .about img{
        position: relative;
        top: 30px;
        left: 7%;
        max-width: 902px;
        height: 669px;
    }

    .about .about-content{
        width: 488px;
        height: 523px;
        background: #2947A9;
        position: absolute;
        top: 12.5%;
        left: 58%;
    }
    
    .about-content{
        padding: 35px;
    }
    .about .about-content h1, p{
        text-align: start;
        color: #fff;
    }
   .about .about-content p{
    margin-top: 30px;
   }

   .about .about-content button{
    margin-top: 90px;
    width: 219px;
    height: 53px;
    font-size: 18px;
    color: #2947A9;
    font-weight: bold;
    border-radius: 6px;
    outline: none;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
   }
  

   .about .about-content button:hover{
        background-color: #F9995D;;
   }
   
   /* Services Section */

   .services{
    margin: 0 auto;
    background: #F6F8F7;
    max-width: 90%;
    min-height: 608px;
    padding: 30px 50px;
    position: relative;
   
   }

   .services h1{
    text-align: center;
    font-size: 36px;
    margin: 40px 0;
   }

   .services span{
    width: 60px;
    margin: 20px 0;
   }
   .services-line{
    
    border: 1px solid #E0E3EB;

    }
   
   .services .services-card{
    background-color: #fff;
    width: 271px;
    height: 181px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   .card-container{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px 250px;
   }
   .services-card h2{
    color: #2947A9;
   }
   #card-blue{
    background: #2947A9;
   }
   #card-blue h2{
    color: #fff;
   }

/* Award Section Style */   
   .award{
    margin-top: 50px;
    background: #fff;
    max-width: 100%;
    height: 800px ;
   }
   .award .card-container{
    
    padding: 50px;
    /* background: #8ce27b; */
    display: flex;
    align-items: center;
    
   }

   .award .award-card{
    position: relative;
    width: 600px;
    height: 600px;
    
   }
   .award .award-card .award-card-details{
    top:-5%;
    left: 50%;
    position: relative;
    box-shadow: 9px 11px 18px -4px rgba(0,0,0,0.1);
    width: 280px;
    height: 200px;
   
   }
   .award .award-card .award-card-win{
    z-index: 999;
    box-shadow: 9px 11px 18px -4px rgba(0,0,0,0.1);
    top:-25%;
    left: 40%;
    position: relative;
 
    width: 280px;
    height: 200px;
   }
 
   .award .award-card .award-card-win img{
    position: relative;
    top: -60px;
    right: -210px;
   }
   .award .award-card .award-card-projects{
    right: 0%;
    position: relative;
    top:-20%;
    box-shadow: 9px 11px 18px -4px rgba(0,0,0,0.1);
    width: 361px;
    height: 155px;
    z-index: 9
   }
   .award .award-card .award-card-business{
    right: 0%;
    position: relative;
    top:-38%;
    left: 8%;
    box-shadow: 9px 11px 18px -4px rgba(0,0,0,0.1);
    
    width: 361px;
    height: 155px;
    z-index: 9
   }
   .award .award-card .award-card-business img{
    width: 97px;
    height: 97px;
    position: absolute;
    left: 90%;
    top: 120px;

   }
   .award .award-card .award-card-projects img{
    width: 97px;
    height: 97px;
    position: absolute;
    left: 0;
    top: -80px;

   }
   .award h1 {
    margin-top: 40px;
    font-size: 72px;
    margin: left;
   }
   .award h1 {
    margin-top: 40px;
    font-size: 72px;
    margin: left;
   }
   .award .award-card-win h1 {
    position: relative;
    top: -130px;
    font-size: 72px;
    margin: left;
   }
   
   
   
   .award .card-line{
    border-left: 8px solid #F9995D;
    position: absolute;
    height: 30px;
    left: 5%;
    top: 56%;
   }
   .award .award-card-details p {
    font-size: 24px;
    color: #667299;
    margin-left: 40px;
    position: absolute;
    top: 110px;
   }
   .award .award-card-projects p {
    font-size: 24px;
    color: #667299;
    margin-left: 40px;
    position: absolute;
    top: 90px;
   }

   .award .award-card-win p {
    font-size: 24px;
    color: #667299;
    margin-left: 40px;
    position: absolute;
    top: 110px;
   }
   .award .award-card-business p {
    font-size: 24px;
    color: #667299;
    margin-left: 40px;
    position: absolute;
    top: 85px;
   }
   
   .award .award-card .award-card-details img{
    width: 97px;
    height: 97px;
    position: absolute;
    left: 80%;
    top: -60px;
   }
   .award .award-captions{
    box-shadow: 9px 11px 18px -4px rgba(0,0,0,0.1);
    width: 350px;
    height: 450px;
    
   }

   .award .award-captions h2{
    color: #2947A9;
    font-size: 60px;
   }

   .award .award-captions p{
    color: #525B7A;
    font-size: 20px;
    margin-top: 20px;
   }

   .award .award-captions button{
    margin-top: 40px;
    border-radius: 3px;
    background-color: #2947A9;
    width: 176px;
    height: 53px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease;

   }
   
   .award .award-captions button:hover{
    background-color: #F9995D;
}

/* Consultation Section */

.consultation{
    position: relative;
    margin: 0 auto;
    background-color: #ad4e4e;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background: url('./img/bg-consultarion.png');
    background-position: center;
    background-size: contain;
}

.consultation button{
    width: 232px;
    height: 53px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.3s ease;
}
.consultation button:hover{
    background-color: #F9995D;

}
.consultation h4{
    font-size: 36px;
    color: #fff;
}

/* Project Section */
.projects{
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
   
}
.project-categ{
    padding: 50px;
    position: relative;
    left: -6%;
    /* background-color: #6b6d70; */
    height: 400px;
    width: 300px;
}
.project-categ span{
    display: flex;
    width: 200px;
    margin: 15px auto;
    
    
}
.projects-content-container img{
    width: 100%
    
    
}

.projects-content-container{
    
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* padding: 30px; */
    top: 80px;
    left: 100px;
  
    width: 900px;
    height: 800px ;
    align-items: center;
   
}

.projects-content-container .details{

    background-color: #ad4e4e;
    width: 385px;
    height: 84px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -10px;
    padding: 10px;
    

}
.projects-content-container h4{
    color: #fff;    
}
.album-btn{
    display: flex;
    justify-content: center;
    position: relative;
    top: 2%;
    right: 27.8%;
    color: #F9995D;
    gap: 20px;
    
    
    
    

}

.album-btn button{
   
    margin-top: 40px;
    width: 290px;
    height: 64px;
    color: #fff;
    font-size: 18px;
    background-color: #2947A9;
    font-weight: bold;
    border-radius: 6px;
    outline: none;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
}
.album-btn button:hover{
    background-color: #F9995D;

}

/* Contact Section */
.contact{
    position: relative;
    background-color: #F6F8F7;
    width: 100%;
    height: 60%px;
    margin: 0 auto;
   
}
.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-details{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.form-details h1{
    margin-top: 20px;
}

.form-details p{
    text-align: center;
    margin: 10px 0;
    color: #292E3D;
}

.form-contact{
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    
    height: 400px;
    gap: 10px;
}

.form-contact input{
    border: 1px solid #ddd;
    width: 280px;
    height: 41px;
    padding: 8px 10px;
    border-radius: 4;
    outline-color: black;
}
.form-contact .input-message{
    width: 565px;
    height: 135px;
}

.form-contact button{
    width: 271px;
    height: 53px;
    background-color: #2947A9;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    transition: 0.3s ease;
}

.form-contact button:hover{
    background-color: #F9995D;
}

/* Address Section */

.address-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    gap: 500px;
}

.address-details{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.address-details span{

    margin: 10px 0;
}
.address-details .blue{
    color: #2947A9;
    font-weight: bold;
}

.logo-footer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-footer h1{
    font-size: 32px;
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.searchbox input{
    padding: 10px;
    width: 280px;
    height: 41px;
}
.searchbox button{
    width: 136px;
    height: 41px;
    border-radius: 4px;
    font: 18px;
    font-weight: bold;
    border: none;
    background-color: #F9995D;
    color: #fff;
    transition: 0.3s ease;
}
.searchbox button:hover{
    background-color: #2947A9;
}
.socials .blue{
    color: #2947A9;
    font-weight: bold;
}
.social-icons{
    display: flex;
    justify-items: center;
    gap: 10px;
}

/* FOOTER STLYE */
.footer{
    background-color: #2947A9;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 20px 100px;
   
}
